<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Hi Bangaram.....</h1>
        <h1> cheppu cheppu....</h1>
        <h1> okati kadu rendu cheppu....</h1>
        <h1> ni prema odhu odhu... </h1>
        <h1> nuv odhu... byee</h1>
        <a href="{%  url 'nothing:Bangaram' %}"> <h1> REPLY OF LOVELY</h1></a>

    </center>
    
</body>
</html>