<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Hello  Banagaram......</h1>
        <h1>chepanna cheppana.....</h1>
        <h1> okati chepana </h1>
        <h1> chetiki neeru posthe puvvu vasthundhi......</h1>
        <h1> na premaki ni prema ni panchutheney kada ra nuv vachede......</h1>
        <a href="{% url 'nothing:Bangaram' %}"> <h1> Response of Bangaram</h1></a>
    </center>
    
</body>
</html>